<div class="panel panel-default">
    <div class="panel-heading">About Me</div>
  <div class="panel-body">
    <img src="https://avatars0.githubusercontent.com/u/7778941?v=3&s=460" class="img-rounded" alt="My Pic" />
    <br>
    <br>
    Hi, My Name is Soumyajit Sarkar. I have built this website independently as part of a summer online course that I had taken.
    The website is built in Ruby on Rails with added Ruby Gems like Devise for User Authentication. Bootstrap for styling , Jquery Masonry for Transitions.
    All the code has been uploaded at GitHub at <a href="https://github.com/soumyajitz/pincode">Project Code</a>. It is basically a Pinterest Clone name PinCode.
  </div>
  <div class="panel-footer"><Strong>Raul</Strong> Copyright @2015 </div>
</div>